<!doctype html>
<html>
    <head>
        <title>mathboi</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body >

        <nav class="navbar navbar-default" role="navigation">
            <div class="container fluid">
                <div class="container">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navabar-nav">
                            <li>
                                <a href={{url_for("character")}}>Character</a>
                            </li>
                            <li>
                                <a href="/weapon">Weapon</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    </body>

</html>